#python cache
__pycache__/
*.pyc

#virtual environment
venv/

#dataset
*.pkl

#synthetic dataset generator
generating_dataset/

#backup files
*~
*.bak
*.tmp

.env
*.xlsx

*.db
experiments/mlruns/
experiments/experiment_results.csv